<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 60px;
        }

        .clickable {
            cursor: pointer;
        }

        input.complete {
            margin-right: 10px;
        }
    </style>

    <script type="application/javascript">
        $(document).ready(function () {
            $('a.remove').click(function (event) {
                $.ajax({
                    method: "DELETE",
                    url: "/api/todo/" + event.currentTarget.id
                }).done(function () {
                    $(event.currentTarget).parent('li').fadeOut();
                });

                event.stopPropagation();
                return false;
            });

            $('input.complete').click(function (event) {
                $.ajax({
                    method: "PUT",
                    url: "/api/todo/" + event.currentTarget.id,
                    data: "done=" + event.currentTarget.checked
                });
            });
        });
    </script>
</head>
<body>

<div className="container-fluid">
    <div className="row">
        <div className="col-sm-6 col-sm-offset-3">

            <h1>TODO list</h1>

            <ul className="list-group">
                {{#todos}}
                <li className="list-group-item"><input id="{{id}}" className="complete" type="checkbox" name="complete"
                                                       {{#done}}checked="checked" {{/done}}/><span>{{title}}</span><a
                        class="remove clickable pull-right" id="{{id}}" title="Remove todo"><span
                        style="color: #A50000;">x</span></a></li>
                {{/todos}}
                {{^todos}}
                <li class="list-group-item">No todos found</li>
                {{/todos}}
            </ul>

            <h2>New TODO entry</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control"
                           placeholder="Short title of the task"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"
                              placeholder="Full description of the task" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Add</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>